{% extends "layout.html.twig" %}

{% set cta_title = "Inscription" %}
{% set cta_description = "Inscrivez-vous pour accéder pleinement du site." %}

{% block content %}
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <form action="{{ route('auth.register.store') }}" method="POST" class="d-flex flex-column gap-4">
            <div class="d-flex gap-2">
                <div class="form-group flex-fill">
                    <label for="first_name" class="mb-2">Prénom</label>
                    <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Ex: John" /> 
                </div>
                <div class="form-group flex-fill">
                    <label for="last_name" class="mb-2">Nom</label>
                    <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Ex: Doe" /> 
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="mb-2">E-mail</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="Ex: john.doe@gmail.com" /> 
            </div>
            
            <div class="form-group">
                <label for="password" class="mb-2">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="*****" /> 
            </div>
            

            <div class="form-group">
                <label for="password_confirmation" class="mb-2">Confirmez votre mot de passe</label>
                <input class="form-control" type="password" id="password_confirmation" name="password_confirmation" placeholder="*****" /> 
            </div>
            
            <button type="submit" class="btn btn-primary">Inscription</button>
        </form>
    </div>
</section>
{% endblock %}