{% extends "layout.html.twig" %}

{% set cta_title = "Tableau de bord" %}
{% set cta_description = "Gérez le contenu de votre site" %}

{% block content %}
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container single-col-max-width">
        <div class="d-flex flex-column gap-3">
            <div class="d-flex gap-3">
                <a href="{{ route('dashboard.posts.index') }}" class="btn btn-primary">Articles</a>
            </div>

            <hr>
            
            {% block childcontent %} {% endblock %}
        </div>
    </div>
</section>
{% endblock %}