<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation de votre compte</title>
</head>
<body>
    <p>Bonjour {{ user.first_name }},</p>

    <p>Afin de confirmer votre compte, veuillez cliquer sur le lien ci-dessous :</p>

    <p><a href="{{ url }}">Valider mon e-mail</a></p>
</body>
</html>